/* Write your CSS here */
.itemCard {
  background-color: #0f172a;
  border-radius: 10px;
  width: 150px;
}
.logoImgCard {
  width: 50px;
}
.oppName {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Bree serif';
  text-align: center;
}
.resultStyle {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Bree serif';
  text-align: center;
}
.redColor {
  color: red;
  font-family: 'Bree serif';
  font-size: 10px;
}
.greenColor {
  color: green;
  font-family: 'Bree serif';
  font-size: 10px;
}
